

//--------------------------------------------------------------------------------------------------
//-----------------------------   BUTTON HOVER MIXIN   -------------------------------------------

//          This mixin is NOT a button and is ONLY the darkening hover effect on buttons.

    @mixin btn-hover($colour: black, $opacity: 0.15) {

    i, p {                              // THIS MAKES ALL TYPE AND ICONS SIT ON TOP OF THE HOVER OVERLAY EFFECT.
        z-index: 5;
    }

    & {
        overflow: hidden;              // THIS IS IMPORTANT FOR BUTTON OVERLAYS TO WORK.
        cursor: pointer;
    }

    &::before {                        // THIS IS THE ::AFTER THAT CREATES THE OVERLAY
        content:" ";
        width: 100%;
        height: 100%;
        position: absolute;
        background: $colour;
        opacity: 0;

        transition: opacity .05s linear;            //OVERLAY TRANSITION 
    }

    &:hover::before {
        opacity: $opacity;
    }
}


//--------------------------------------------------------------------------------------------------
//-----------------------------   DEFAULT BUTTON MIXIN   -------------------------------------------

@mixin btn-default($width: 130px, $height: 50px, $background: $btn-primary, $flex-direction: row) {

    height: $height;
    width: $width;
    background: $background;

    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;

    align-items: center;
    letter-spacing: .2px;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
    position: relative;

    @include btn-hover;
}


//--------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------
//-----------------------------   THEMED BUTTON MIXIN   -------------------------------------------

@mixin btn-theme($width: 130px, $height: 50px, $flex-direction: row) {

    height: $height;
    width: $width;

    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;

    align-items: center;
    letter-spacing: .2px;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
    position: relative;
}


//--------------------------------------------------------------------------------------------------

//  THIS IS THE THEME MIXIN (MAINLY FOR MAIN-NAV)

@mixin nav-theme ($colour: $primary-colour) {
    i {
    color: $colour;
    }

    &:hover {
    background-color: $colour;
    }
}

//---------------------------------------------------------------------

//  THIS IS THE MAIN-NAV DROP DOWN MENU MIXIN

@mixin nav-drop-item($theme: $primary-colour, $width: 1200px, $margin: 40px) {

    width: 100%;
    height: 45px;
    color: white;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 209px;

    background: darken($theme, 12.5%);
    align-items: center;
    justify-content: center;

    :link, :visited {
        color: inherit;
        text-decoration: none;
    }

    .contain {
    justify-content: space-between;
    width: $width;
    list-style-type: none;

    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .6px;
    flex-wrap: nowrap;

    @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
        font-size: .8rem;
    }

        li:nth-child(1)::after, 
        li:nth-child(2)::after,
        li:nth-child(3)::after,
        li:nth-child(4)::after,
        li:nth-child(5)::after {
            content: " — ";
            margin-left: $margin;
        }

        li:first-child {
            margin-left: -20px;
        }
        li:last-child {
            margin-right: 20px;
        }

        a:hover {                             //THIS IS AN UNUSED HOVER FUNCTION FOR MAIN NAV DROP DOWN ITEMS
            // text-decoration: underline;
            color: darken(white, 5%);
            transition: color .1s ease-in-out;
        }
    }
}

//--------------------------------------------------------------------------------------------------
//-----------------------------   SERVICES LIST CARD MIXIN   --------------------------------------------

@mixin card-s($width: 270px, $height: 312px, $flex-dir: column, $icn-size: 1.6rem) {

    width: $width;
    height: $height;

    display: flex;
    flex-direction: $flex-dir;
    justify-content: space-around;
    align-items: center;

    border: solid 1px #d1d1d1;
    border-radius: 3px;
    padding: 20px;

    //Different element styles within Cards

    i {     
        font-size: $icn-size;   
        border-radius: 50%;   
        width: 60px;
        height: 60px;
        padding: 10px;

        line-height: 38px;
        text-align: center;
    }   

    h3 {   
        font-size: 1.2rem;
        color: $primary-colour;  
        font-weight: 400;
        letter-spacing: .5px;
         }

    .desc { 
          font-size: .85rem; 
          color: $primary-colour; 
          text-align: center;
          letter-spacing: .6px;
          line-height: 1.3rem; 
        //   width: 250px;
        padding: 0px 5px;
        }

    .break {                // THIS IS A LINE BREAK WITH BORDER (HOPEFULLY)
        width: 30px;
        height: 0px;

        border-bottom: solid 3px $primary-colour;
     }
}


// SERVICES CARD THEME

@mixin s-theme($theme: $primary-btn) {

    background-color: white;

     i, .btn-theme {
        background-color: $theme;
        color: white;
     }

    &:hover {
        background-color: $theme;

        h3, .desc {
            color: white;
        }

        .break {
            border-color: white;
        }

        i, .btn-theme {
            background-color: white;
            color: $theme;
        }

        }

    }


//-----------------------------------------

//--------------------------------------------------------------------------------------------------
//-----------------------------   ARTICLES CARD MIXIN   --------------------------------------------

@mixin card-a {

    height: 614px;
    width: 400px;
    align-items: center;
    margin: 40px 20px;
    overflow: hidden;

    background: white;
    border: solid $grey 1px;
    border-radius: 3px;

    .a-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    :visited, :link {
        color: inherit;
    }

    .title-img {
        height: 235px;
        width: 400px;
        overflow: hidden;
        position: relative;

        .label { 
            height: 20px;
            z-index: 20;

            text-transform: uppercase;
            padding: 1px 15px 16px 10px;

            color: white;

            font-weight: 600;
            font-size: .75rem;
            letter-spacing: .4px;

            position: absolute;
            right: 0px;
            top: 20px;

            box-shadow:  -2px 2px 6px rgba(23, 23, 23, .1);
           }

    }
}

// ------- ARTICLES CARD THEMES -----------------------------------------------

@mixin article-theme($theme, $img-url) {

    .title-img {
        background-position: center;
        background-repeat: no-repeat;

        background-image: url($img-url); 
        background-size: 103%;

        transition: .1s ease-in;

        &::after {
            content:" ";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $white;
            opacity: 0;

            transition: opacity .2s ease-in-out;
        }

        &:hover::after {
            opacity: 0.15;
        }


        &:hover {
            background-image: url($img-url); 
            background-size: 110%;
        }
    }

    .title {
        color: $theme;
        font-size: 1rem;
        letter-spacing: .6px;
        font-weight: 600;
    }

     & .label, .btn {
        background-color: $theme;
    }

}

//------------------------------------------------------


