

//--------------------------------------------------------------------------------------------------
//-----------------------------   BUTTON HOVER MIXIN   -------------------------------------------

//          This mixin is NOT a button and is ONLY the darkening hover effect on buttons.

    @mixin btn-hover($colour: black, $opacity: 0.15) {

    i, p {                              // THIS MAKES ALL TYPE AND ICONS SIT ON TOP OF THE HOVER OVERLAY EFFECT.
        z-index: 5;
    }

    & {
        overflow: hidden;              // THIS IS IMPORTANT FOR BUTTON OVERLAYS TO WORK.
        cursor: pointer;
    }

    &::before {                        // THIS IS THE ::AFTER THAT CREATES THE OVERLAY
        content:" ";
        width: 100%;
        height: 100%;
        position: absolute;
        background: $colour;
        opacity: 0;
        left: 0;
        top: 0;

        transition: opacity .05s linear;            //OVERLAY TRANSITION 
    }

    &:hover::before {
        opacity: $opacity;
    }
}


//--------------------------------------------------------------------------------------------------
//-----------------------------   DEFAULT BUTTON MIXIN   -------------------------------------------

@mixin btn-default($width: 130px, $height: 50px, $background: $btn-primary, $flex-direction: row) {

    height: $height;
    width: $width;
    background: $background;

    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;

    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-align: center;
    align-items: center;

    letter-spacing: .2px;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
    position: relative;

    @include btn-hover;
}


//--------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------
//-----------------------------   THEMED BUTTON MIXIN   -------------------------------------------

@mixin btn-theme($width: 130px, $height: 50px, $flex-direction: row) {

    height: $height;
    width: $width;

    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;

    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-align: center;
    align-items: center;

    letter-spacing: .2px;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
    position: relative;
}


//--------------------------------------------------------------------------------------------------

//  THIS IS THE THEME MIXIN (MAINLY FOR MAIN-NAV)

@mixin nav-theme ($colour: $primary-colour) {
    i {
    color: $colour;
    }

    &:hover {
    background-color: $colour;
    }
}

//---------------------------------------------------------------------

//  THIS IS THE MAIN-NAV DROP DOWN MENU MIXIN

@mixin nav-drop-item($theme: $primary-colour, $width: 1200px, $margin: 40px, $margin-l: -55px) {

    width: 100%;
    height: 45px;
    color: white;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 209px;
    z-index: 5;

    background: darken($theme, 12.5%);

    -ms-flex-align: center;
    align-items: center;

    -ms-flex-pack: center;
    justify-content: center;

    :link, :visited {
        color: inherit;
        text-decoration: none;
    }

    .contain {
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    width: $width;
    margin-left: $margin-l;                   // THIS IS A NEW VARIABLE TO ALIGN DROPDOWN TO LEFT
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .6px;

    @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
        font-size: .8rem;
    }

        li:nth-child(1)::after, 
        li:nth-child(2)::after,
        li:nth-child(3)::after,
        li:nth-child(4)::after,
        li:nth-child(5)::after {
            content: " — ";
            margin-left: $margin;
            width: 30px;
        }

        li:first-child {
            margin-left: -20px;
        }
        li:last-child {
            margin-right: 20px;
        }

        a:hover {                             //THIS IS AN UNUSED HOVER FUNCTION FOR MAIN NAV DROP DOWN ITEMS
            // text-decoration: underline;
            color: darken(white, 5%);
            transition: color .1s ease-in-out;
        }
    }
}

//--------------------------------------------------------------------------------------------------
//-----------------------------   SERVICES LIST CARD MIXIN   --------------------------------------------

@mixin card-s($width: 270px, $height: 312px, $flex-dir: column, $icn-size: 1.6rem) {

    width: $width;
    height: $height;

    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: $flex-dir;
    flex-direction: $flex-dir;

    -ms-flex-pack: distribute;
    justify-content: space-around;

    -ms-flex-align: center;
    align-items: center;

    border: solid 1px #d1d1d1;
    border-radius: 3px;
    padding: 20px;

    cursor: pointer;

    @media (max-width: $media-s)      {     // BREAKPOINT SMALL CHANGE
        padding: 30px 20px;
    }        

    //Different element styles within Cards

    i {     
        font-size: $icn-size;   
        border-radius: 50%;   
        width: 60px;
        height: 60px;
        padding: 10px;

        line-height: 38px;
        text-align: center;
    }   

    h3 {   
        font-size: 1.1rem;
        color: $primary-colour;  
        font-weight: 400;
        letter-spacing: .5px;

        @media (max-width: $media-s)      {     // BREAKPOINT SMALL CHANGE
            margin-bottom: 8px;
        }        
         }

    .desc { 
          font-size: .8rem; 
          color: $primary-colour; 
          text-align: center;
          letter-spacing: .6px;
          line-height: 1.3rem; 
          width: 100%;                        // !!! THIS SHOULD FIX INTERNET EXPLORER ISSUE
        padding: 0px 5px;
        }

    .break {                // THIS IS A LINE BREAK WITH BORDER (HOPEFULLY)
        width: 30px;
        height: 0px;

        border-bottom: solid 3px $primary-colour;
     }
}


// SERVICES CARD THEME

@mixin s-theme($theme: $primary-btn) {

    background-color: white;

     i, .btn-theme {
        background-color: $theme;
        color: white;
     }

    &:hover {
        background-color: $theme;

        h3, .desc {
            color: white;
        }

        .break {
            border-color: white;
        }

        i, .btn-theme {
            background-color: white;
            color: $theme;
        }

        }

    }


//-----------------------------------------

//--------------------------------------------------------------------------------------------------
//-----------------------------   ARTICLES CARD MIXIN   --------------------------------------------

@mixin card-a($width: 367px, $height: 580px) {

    width: $width;
    height: $height;

    -ms-flex-align: center;
    align-items: center;

    margin: 40px 20px;
    overflow: hidden;

    background: white;
    border: solid $grey 1px;
    border-radius: 3px;

    @media (min-width: $media-s) and (max-width: $media-m) {                  // MEDIUM BREAKPOINT CHANGE
        margin: 40px 15px;
    }

    @media (max-width: $media-s) {           // SMALL BREAKPOINT CHANGE
        margin: 15px auto;
    }

    .a-section {
        -ms-flex-direction: column;
        flex-direction: column;
        
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    :visited, :link {
        color: inherit;
    }

    .label { 
        height: 20px;
        z-index: 20;

        text-transform: uppercase;
        padding: 1px 15px 16px 10px;

        color: white;

        font-weight: 600;
        font-size: .75rem;
        letter-spacing: .4px;

        position: absolute;
        right: 0px;
        top: 20px;

        box-shadow:  -2px 2px 6px rgba(23, 23, 23, .1);

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        @media (max-width: $media-s) {           // SMALL BREAKPOINT CHANGE
            top: 30px;
        }
       }

    .title-img {
        height: 215px;
        width: 100%;
        overflow: hidden;
        position: relative;

        @media (max-width: $media-l) {                  // LARGE BREAKPOINT CHANGE
           height: 270px;
        }
        
        @media (max-width: $media-m) {           // MEDIUM BREAKPOINT CHANGE
            margin-top: -8px;
            height: 210px;
        }

        @media (max-width: $media-s) {           // SMALL BREAKPOINT CHANGE
            margin-top: -15px;
            height: 0;
            padding-top: 60%;
        }

    }
}

// ------- ARTICLES CARD THEMES -----------------------------------------------
/*
@mixin article-theme($theme, $img-url) {

    .title-img-wrap {

        overflow: hidden;
        position: relative;

        .title-img {
            background-position: center;
            background-repeat: no-repeat;

            background-image: url($img-url); 
            background-size: 103%;

            transition: .1s ease-in-out;
            position: relative;

            &::after {
                content:" ";

                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $white;
                opacity: 0;

                transition: opacity .2s ease-in-out;
            }

            &:hover::after {
                opacity: 0.15;
            }


            &:hover {
                // background-image: url($img-url); 
                // background-size: 110%;
                transform: scale(1.075);
            }
        }

    }

    .title {
        color: $theme;
        font-size: 1rem;
        letter-spacing: .5px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    & .label, .btn {
        background-color: $theme;
    }
}
*/
//------------------------------------------------------


// DYNAMIC ARTICLE THEME 
.article {

    .title-img-wrap {

        overflow: hidden;
        position: relative;

        .title-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 103%;

            transition: .1s ease-in-out;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                height: 100%;
            }

            &::after {
                content:" ";

                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $white;
                opacity: 0;

                transition: opacity .2s ease-in-out;
            }

            &:hover::after {
                opacity: 0.15;
            }


            &:hover {
                // background-image: url($img-url); 
                // background-size: 110%;
                transform: scale(1.075);
            }
        }

    }

    .title {
        // color: $theme;
        font-size: 1rem;
        letter-spacing: .5px;
        font-weight: 600;
        margin-bottom: 0px;
    }


}
// DEFINING ALL DEPARTMENT COLOURS FOR ARTICLE CARDS
.article.it-theme {

    .title {
        color: $it-theme;
    }

    & .label, .btn {
        background-color: $it-theme;
    }
}

.article.dm-theme {

    .title {
        color: $dm-theme;
    }

    & .label, .btn {
        background-color: $dm-theme;
    }
}

.article.ts-theme {

    .title {
        color: $ts-theme;
    }

    & .label, .btn {
        background-color: $ts-theme;
    }
}

.article.wd-dt-theme {

    .title {
        color: $wd-dt-theme;
    }

    & .label, .btn {
        background-color: $wd-dt-theme;
    }
}

.article.cs-theme {

    .title {
        color: $cs-theme;
    }

    & .label, .btn {
        background-color: $cs-theme;
    }
}

.article.bs-theme {

    .title {
        color: $bs-theme;
    }

    & .label, .btn {
        background-color: $bs-theme;
    }
}

