
* {
    box-sizing: border-box;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.website {
    background: white;
    // transform: translateX(0px);             // This is the Styling for when the menu is animated (Closed)
    left: 0px;
    transition: ease-in-out .25s;
    z-index: 10;

    position: relative;


    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        z-index: 20;
        transition: .2s ease-in-out;
        pointer-events: none;
    }
}

.website.active {
    // transform: translateX(-350px);        // Open Styling (Can test in browser)
    left: -350px;
    &::before {
        pointer-events: all;
        cursor: pointer;
        opacity: 0.4;
    }
}

.homepage {
    margin: 0px;
    overflow-x: hidden;
    position: relative;
}

//--------------------------------------------------------------------
//--------------- MAIN-PAGE GRID LAYOUT ------------------------------
//--------------------------------------------------------------------


//--------------- GRID ITEMS -----------------------------------------

//      These are all of the grid items on the main page for the general structure. 
//          - Also includes background colour and image properties.

header {
    // grid-area: head;
    background-color: white;
    height: 110px;
    // position: fixed;
    // top: none;
    transition: 2s ease-in-out;

    @media (max-width: $media-s) {      // MEDIUM SCREEN SIZE
        height: 170px;
     }
     @media ( max-width: $media-xs ) {    // EXTRA SMALL BREAKPOINT CHANGE
        height: 168px;
     }
}

.main-nav {
    // grid-area: main-nav;
    background-color: $primary-colour;
    // margin-top: 110px;
    height: 100px;
}

.banner {
    // grid-area: banner;

    // background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .95)), url(../assets/carousel/web.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;

    // padding: 200px 0px;
    overflow: hidden;
}

.services-list {
    // grid-area: services;
    background-color: white;

    height: 755px;

    @media (max-width: $media-l)      {     // BREAKPOINT LARGE
        height: 1180px;
    }

    @media (max-width: $media-m)      {     // BREAKPOINT MEDIUM
        height: 1780px;
    }

    @media (max-width: $media-s)      {     // BREAKPOINT SMALL
        height: 2300px;
    }
}

.about-us {
    // grid-area: about-us;
    background: $primary-colour url(../assets/nm-brand-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center; 

    padding: 50px 0px;

    @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
        background: $primary-colour;
    }
}

.a-split {
    // grid-area: a-split;

    height: 104px;
}

.articles {
    // grid-area: articles;
    background-color: white;
    box-shadow: inset 0 10px 30px 10px rgba(#666, 0.1);

    padding: 30px 0px;
}

.clients {
    // grid-area: clients;
    background: white;
    box-shadow: inset 0 10px 25px 5px rgba(#666, 0.15);

    .container {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-direction: row;
        flex-direction: row;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -ms-flex-pack: center;
        justify-content: center;

    }
}

.newsletter {
    // grid-area: newsletter;
    background-color: $grey;

    padding: 50px 0px;

    overflow: hidden;
}

footer {
    // grid-area: footer;
    background-color: $primary-colour;

    height: 310px;

    @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGE
       height: 550px;
    }

    @media (max-width: $media-s) {     //--------- SMALL BREAKPOINT CHANGES
        height: 1000px;
    }
}

.awards {
    // grid-area: awards;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 35px;

    // height: 265px;
    overflow: hidden;

    @media (max-width: $media-l)      {     // BREAKPOINT LARGE CHANGE
        height: 300px;
        margin-bottom: 10px;
    }

    @media (max-width: $media-m)      {     // BREAKPOINT MEDIUM CHANGE 
        height: 240px;
    }
}