
$media-xs: 420px;
$media-s: 767px;
$media-m: 992px;
$media-l: 1260px;



//-------- [LARGE] PRESET MEDIA QUERIES ------------------------------------------

@media (max-width: $media-l) {
    .hide-l {
        display: none;
    }
}

//-------- [MEDIUM] PRESET MEDIA QUERIES ------------------------------------------

@media (max-width: $media-m) {
    .hide-m {
        display: none !important;
    }
}

@media (max-width: $media-m)  {
    .show-m {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

//-------- [SMALL] PRESET MEDIA QUERIES ------------------------------------------

@media (max-width: $media-s) {
    .hide-s {
        display: none !important;
    }
}

@media (max-width: $media-s)  {
    .show-s {
        // display: -ms-inline-flexbox;
        display: inline;
    }
}