
//---------------------     FONT STACK VARIABLE    

  $primary-font-stack: Poppins, sans-serif;

//---------------------     PRE-DEFINED FONT STYLES

  .s-type {
    font-size: .65rem;
    letter-spacing: .1px;
  }

  .l-type {
    font-size: 1.13rem;
}

//----------------------------------------------------------------------------------------------------------------
//---------------------     COLOURS     --------------------------------------------------------------------------

$primary-colour: #333645;   //  Dark Blue

$white: #fff;
$grey: #ddd;
$dark-grey: #999aa2;

$btn-primary: #4183d7; //       Bright Blue,    Same as IT Support below / So it is customizable later!
$btn-secondary: #67809f;

// These are the Section Colours

$it-theme:     #4183d7;      //    IT Support                        --  Bright Blue
$dm-theme:     #2ecc71;      //    Digital Marketing                 --  Green
$ts-theme:     #d64541;      //    Telecoms Services                 --  Orange
$wd-dt-theme:  #926fb1;      //    Web Design & Developer Training   --  Purple
$cs-theme:     #f62459;      //    Cyber Security                    --  Red
$bs-theme:     #67809f;      //     Bespoke Software                 -- Light Blue 




//--------------------------------------------------------------------------------------------------------------
//---------------------     FLEX CLASSES    --------------------------------------------------------------------

.flexy {
  display: -ms-flexbox;
  display: flex;
}

.flex-c {
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-break {
  // flex-basis: 1200px;
  -ms-flex: 1 0 100%;
  flex-basis: 100%;     //--------  CHANGEED THIS RULE TO HAVE A PERCENTAGE VALUE, Need to check if it breaks.
  height: 0;
}
