
.about-us {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: $media-s) {          // MEDIUM BREAKPOINT CHANGES
        width: 100%;
    }
    .container {
        width: 550px;
        margin-right: 635px;
        letter-spacing: .6px;
        line-height: 2em;

        @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
            width: 915px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
            width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: $media-s) {          // MEDIUM BREAKPOINT CHANGES
            width: 90%;
            margin: 0 20px;
        }

    color: white;

    h2 {
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin-top: 0;
    }

    strong {
        font-weight: 700;
    }
    .au-body {
        font-size: 1em;
    }

        .btn-arrw {
            @include btn-default(165px, 45px, white, row);
            margin-top: 35px;
            border-radius: 3px;
            color: black;
            font-size: 1em;
            
            -ms-flex-align: center;
            align-items: center;

            i {
            // font-size: 1.3rem;
            margin-left: 15px;
        }
    }
  }
}