
.about-us {
    .container {
        width: 550px;
        margin-left: 250px;
        padding-top: 25px;
        letter-spacing: 1px;
        line-height: 1.8em;

    color: white;

    h2 {
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;

    }

    strong {
        font-weight: 700;
    }
    .au-body {
        font-size: 1em;

    }



        .btn-arrw {
            @include btn-default(225px, 62px, white, row);
            margin-top: 35px;
            border-radius: 3px;
            color: black;
            font-size: 1.25em;
            align-items: center;

            i {
            // font-size: 1.3rem;
            margin-left: 15px;
        }
    }
  }
}