
.a-split {
    justify-content: center;
    padding-left: 25px;

    -ms-flex-align: stretch;
    align-items: stretch;

    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .6px;
    color: $primary-colour;
    width: 1180px;
    margin: 0px auto;
    position: relative;

    @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGE
        width: 950px;
    }
    
    @media (max-width: $media-m) {          // LARGE BREAKPOINT CHANGE
        width: 740px;
    }

    @media (max-width: $media-s) {          // LARGE BREAKPOINT CHANGE
        width: 300px;
        margin: 0px 5%;
    }


    h2 {
        padding-top: 40px;
        border-bottom: solid 6px $primary-colour;
        height: 104px;
        margin: 0px;
        margin-top: 0px;
        font-size: 1.2rem;
        position: absolute;
        left: 0px;

        @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGE
            // margin-right: 790px;
        }

        @media (min-width: $media-s) and (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGE
            // margin-right: 690px;
            left: 10px;
        }

        @media (max-width: $media-s) {          // SMALL BREAKPOINT CHANGE
            margin-right: auto;
            margin-left: 0px;
            
        }
        
    }
}

.articles {

    //Universal Article Styles 

    @media (max-width: $media-s)  {                 // SMALL BREAKPOINT CHANGE

            -ms-flex-direction: column;
            flex-direction: column;

            width: 100%;
            margin: 0 auto;
    }

    .article-item {
        @include card-a();

        @media (max-width: $media-l) {                  // LARGE BREAKPOINT CHANGE
            @include card-a(455px, 630px);

            &:nth-last-of-type(1) {
                display: none;
            }
        }

        @media (max-width: $media-m) {                  // MEDIUM BREAKPOINT CHANGE
            @include card-a(350px, 560px);
        }

        @media (max-width: $media-s) {                  // MEDIUM BREAKPOINT CHANGE
            @include card-a(90%, 100%);
            
            -ms-flex-direction: column;
            flex-direction: column;

            &:nth-last-of-type(1) {
                display: block;
            }
        }


        filter: drop-shadow(0px 10px 20px #e6e6e6) ;

        }

        .article-desc {
            height: 270px;

            -ms-flex-direction: column;
            flex-direction: column;

            -ms-flex-pack: flex-start;
            justify-content: flex-start;

            padding: 10px 30px;

            @media (max-width: $media-s) {                  // MEDIUM BREAKPOINT CHANGE
                height: 230px;
            }

            .title a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                } 
            }

            .desc {
                // margin-top: 20px;
                color: #666;
                line-height: 1.6rem;
                font-size: .9em;
                height: 80px;

                @media (max-width: $media-s) {                  // MEDIUM BREAKPOINT CHANGE
                    height: auto;
                }
            }

            .btn {
                @include btn-theme(130px, 47px);
                @include btn-hover($colour: black, $opacity: .15);     // This is an example of how customizable this hover mixin is! 
                                                                         // Try changing the opacity to 1 and choosing whatever colour you like! Or why not a gradient?.. Or an image! 
                // margin: auto 0px 15px;
                margin-top: auto;
                margin-bottom: 12.5px;
                color: white;
                align-self: baseline;
            }

            &::after  {
                content: " ";
                margin-top: auto;
                border-bottom: solid 1px $grey;
            }

            @media ( max-width: $media-xs ) {
                display: block;
                padding: 0px;
                padding-bottom: 10px;
                margin: 10px 30px;
                border-bottom: solid 1px #ddd;
            }
        }

        .article-credit {
            height: 100px;
            padding-top: 20px;
            line-height: 15px;

            @media (max-width: $media-s) {           // SMALL BREAKPOINT CHANGE
                width: 100%;;
            }

            img {
                float: left;

                width: 47px;
                height: 47px;
                margin: -4px 20px 0px 30px;
                border-radius: 50%;
        }

        strong {   
            color: $primary-colour; 
            font-weight: 600; 
            font-size: .9em;

            @media ( max-width: $media-xs ) {
                margin-right: 25px;
            }
        }

        p {  
            line-height: 0px;
            color: $dark-grey;    
            font-size: .9em; 
            margin-left: 98px;
        }

      } 
    }

//--------- This is the styling for each Article 

        // .article-1 {
        //     @include article-theme($wd-dt-theme, "../assets/articles/10-tips.jpg");
        // }

        // .article-2 {
        //     @include article-theme($btn-primary, "../assets/articles/it-call-handler.jpg");
        //     background: $btn-primary;
        // }

        // .article-3 {
        //     @include article-theme($btn-primary, "../assets/articles/notable-01-2021.jpg");
        //     background: $btn-primary;
        // }


