.awards {
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        width: 1300px;
        margin: 0px auto;

        @media (max-width: $media-l) {              // LARGE BREAKPOINT CHANGE
            width: 90%;
        }

        div {
            padding: 20px 30px;

            @media (max-width: $media-l) {          //  LARGE BREAKPOINT CHANGE
                padding: 10px 15px;
            }

            @media (max-width: $media-m) {          //MEDIUM BREAKPOINT CHANGE
                .silver {
                    height: 50px;
                }

                .princess {
                    height: 50px !important; 
                }
            }

            .line-1 {
                height: 70px;
                width: auto;
    
                @media (max-width: $media-l) {          //  LARGE BREAKPOINT CHANGE
                    height: 80px;
                    width: auto;
                }
    
                @media (max-width: $media-m) {          //MEDIUM BREAKPOINT CHANGE
                    height: 55px;
                    width: auto;
                }
            }

            .line-2 {
                height: 50px;
                width: auto;
    
                @media (max-width: $media-l) {          //  LARGE BREAKPOINT CHANGE
                    height: 70px;
                    width: auto;
                }
     
                @media (max-width: $media-m) {          //MEDIUM BREAKPOINT CHANGE
                    height: 60px;
                    width: auto;
                }
            }

            .col {
                display: none;
            }

            &:hover {
                .col {
                    display: inline;
                }
                .bw {
                    display: none;
                }
            }

        }

    }
}