.banner {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;

    -ms-flex-pack: center;
    justify-content: center;
    
    -ms-flex-align: center;
    align-items: center;


    h1 {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 5px; 
    }

    p {
        font-size: 1.2em;
        margin-top: 20px; 
        line-height: 2em;
    }

    .banner-content {
        height: 247px;
        width: 1170px;
        margin-bottom: 100px;

        color: white;
        letter-spacing: 1px;

            @media (max-width: $media-l) {          // MEDIUM BREAKPOINT CHANGES
                margin-left: 250px;
            }

            @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
                width: 100%;
                margin-left: 0px;
                text-align: center;
            }

            @media (max-width: 400px) {          // EXTRA SMALL BREAKPOINT CHANGES
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }

    .btn-arrw {
        @include btn-default(225px, 62px, $wd-dt-theme);

        -ms-flex-pack: distribute;
        justify-content: space-around;
        
        font-size: 1.3em;
        padding: 5px 15px;


        p {
            font-size: 1.3rem;
            padding-top: 4px;
        }

        @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
            margin: 0 auto;
        }
    }
}