.clients {
    .container {
        
        width: 1200px;                      //CONTAINER WIDTH
        padding: 35px 0px;
        margin: 0px auto;
        -ms-flex-pack: justify;
        justify-content: space-around;

        @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
            width: 960px;
        }

        @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
            width: 720px;
        }

        .client {
            position: relative;

            -ms-flex-pack: center;
            justify-content: center;
            // min-width: 240px;

            // THIS IS THE STYLING FOR THE IMAGES -------------------------

            .col { display: none;   }               // THIS IS CLIENT HOVER STYLES ((REPLACED GRAYSCALE WITH ACTUAL GRAYSCALE IMAGES))
                                                    //
            &:hover {                               //
                .col { display: inline; }           //
                 .bw { display: none;   }           //
}                                       //--------  END OF CLIENT HOVER STYLE

            img {
                padding: 10px 20px;
                height: 90px;
                width: auto;
                background-size: contain;

                @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
                    height: 80px;
                }

                @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
                    height: 65px;
                }
            }

            // THIS IS THE STYLING FOR THE POP-UP INFO BOX.

            .info-box {
                position: absolute;
                bottom: 125px;
                z-index: 10;

                @media (max-width: $media-l) {      //-------------- LARGE BREAKPOINT CHANGE
                    bottom: 115px;
                  }

                  @media (max-width: $media-m) {      //-------------- SMALL BREAKPOINT CHANGE
                    bottom: 100px;
                  }

                width: 280px;

                color: white;
                text-align: center;

                background: $primary-colour;
                padding: 5px 20px 10px;

                -ms-flex-direction: column;
                flex-direction: column;

                visibility: hidden;

                h3 {
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin-bottom: 12.5px;
                }

                .break {                // THIS IS A LINE BREAK WITH BORDER (HOPEFULLY)
                    width: 30px;
                    height: 0px;
                    align-self: center;
                    border-bottom: solid 3px $white;
                }

                p {
                    font-size: .85rem;
                    line-height: 1.4rem;
                }

                &::after {
                    content: " ";
                    width: 50px;
                    height: 50px;


                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: rotateZ(45deg) translateY(35px);
                    background: $primary-colour;
                    z-index: -1
                }

                
            }

                            // THIS CONTROLS THE HOVER STATE FOR POP UPS 

                            img:hover ~ .info-box,
                            .info-box:hover {         // <------- Example of a :HOVER rule that effects a SIBLING ELEMENT.
                                visibility: visible;
                            }

                            //  THIS FIXES THE POSITION OF POP UPS ON IE11

                            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                                .pop-bu {  left: -25px; }
                                .pop-c {   left: 0px; }
                                .pop-b {   left: -80px; }
                                .pop-nd {  left: 40px; }
                           }                                                        // IE specific media query
        }

    }
}
