//--------------------------------------------------------------------------------------------------------------
//---------------------     CONTACT PAGE STYLES   --------------------------------------------------------------------

.website {
  background-color: #fff;
}

// BREADCRUMB LINKS STYLING 
.breadcrumbs {
    height: 45px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
    font-size: .8125rem;

    display: flex;
    justify-content: center;
    color: $primary-colour;

    @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
      border: solid 1px $primary-colour;
  }

  @media (max-width: $media-s) {          // MEDIUM BREAKPOINT CHANGES
    display: none;
  }
  
    ul {
      @include containerWidth();
      margin: 0px;
      padding: 12.5px 0px 12.5px 0px;
      
      list-style-type: none;
      display: flex;
  
      li:nth-of-type(2){
        padding-left: 5px;
      }
    } 
  }

// PAGE HEAD
.page-head {
  display: flex; 
  justify-content: center;
  margin-top: 20px;
  h1 {
    @include containerWidth();
    font-weight: 400;
    font-size: 36px;
    color: $primary-colour;
  }

  @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
    background-color: $primary-colour;
    margin-top: 0px;
    margin-bottom: 35px;
    h1 {  
      color: white;  
      margin: 15px 0px; 
    }
  }
}

// LOCATION CARD STYLING 
.office-addresses {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
 

  .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    // margin: 20px 70px;
    @include containerWidth();

    @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
      flex-direction: column;
      width: auto;
    }
    @media (max-width: $media-s) {          // MEDIUM BREAKPOINT CHANGES
      margin: 0px 15px;
    }
  }
}



.office {
  @include office();

  @media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES
    @include office(291.3px);
  }

  @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
    @include office(718px, 327px);
    margin: 15px 0px;
  }

  @media (max-width: $media-s) {          // SMALL BREAKPOINT CHANGES
    @include office(100%, auto);
    // margin: 15px 15px; 
}

}



// FORM STYLING 
  .enquiry-form {

    display: flex;
    justify-content: center;
    margin-bottom: 50px;

      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        justify-content: space-between;
        width: 1170px;
        // margin: 20px 50px;
        // padding: 20px;

        @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
          flex-direction: column-reverse;
          width: 720px;
        }
        @media (max-width: $media-s) {          // MEDIUM BREAKPOINT CHANGES
          flex-direction: column-reverse;
          width: 100%;
          margin: 0px 15px;
        }
      }

      .form {
          width: 770px;
          height: auto;

          display: flex; 
          flex-direction: column;
          // margin: 0px 15px;
          background: #e6e7e9;
          padding: 30px;
          border-radius: 10px;

          @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
            width: 100%;
        }

          .submit {
            @include btn-default(149.2px, 47px, $wd-dt-theme);
            color: white;
            font-size: 17.008px;
            margin-top: 30px;
            margin-bottom: 15px;
          }

          .form-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
              flex-direction: column;
          }

            // .form-group {
                // width: 50%;
            // }
          }
          
          .form-group {
              display: flex;
              flex-direction: column;
              margin: 0px;
              margin-bottom: 15px;
              // padding: 0px 15px;

              label {
                  margin-bottom: 3px;
                  font-weight: 600;
                  color: $primary-colour;

                  &::after {
                    content: " *";
                    color: #d24d57; 
                }
              }

              input {
                  height: 47px;
                  background-color: #fff;
                  border: 1px solid #ccc;
                  border-radius: 2px;
                  background: #fff;
                  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                  width: 340px;
                  padding: 5px 15px;

                  &:focus {
                    border-color: #5bc0de;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
                }

                @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
                    width: 100%;
                }
              }

              textarea {
                resize: none;
                width: 100%;
                height: 100px;

                border: 1px solid #ccc;
                border-radius: 2px;
                background: #fff;
                padding: 5px 15px;

                &:focus {
                  border-color: #5bc0de;
                  outline: 0;
                  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
                }
              }
              // Styling for when form validation fails
              input.error, textarea.error {
                border: solid 1px red;
              }
          }
      }

      .form-info {
        width: 33.33%;
        padding: 0px 15px;

        @media (max-width: $media-m) {          // MEDIUM BREAKPOINT CHANGES
          margin-bottom: 30px;
          width: 100%;
      }

        strong {
          font-weight: 600;
        }

        p {
            margin-bottom: 25px;
            margin-top: 0px;
            line-height: 1.875rem;
        }

        a {
            text-decoration: none;

            h3, h3:visited, h3:link {
              font-size: 1.62rem;
              font-weight: 600;
              letter-spacing: .4px;
              color: $wd-dt-theme;
              margin-top: -5px;

              &:hover {
                text-decoration: underline;
              }
            }
          }

        .dropdown, .dropdown:visited, .dropdown:link {
          color: $primary-colour;

          &:hover, &.active {
            text-decoration: underline;
          }
        }
      }
  }

  form.form-group {
    width: 100%;
  }

  .dropdown-contents {
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;

  

    p {
      color: #666;
      margin: 30px 0px 0px !important;
    }

    ul {
      list-style-type: none;
      padding: 0px;
      margin-top: 25px;
      color: $primary-colour;
      line-height: 1.875rem;
    }
  }

  .dropdown-contents.active {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }


  // ERROR MESSAGE STYLING 

  .flash-msg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    height: 54px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #2ecc71;

    button {
      background: none;
      border: none;
      color: #000;
      font-size: 21px;
      cursor: pointer;
      text-shadow: 0 1px 0 #fff;
      opacity: .2;
      transition: .075s ease-in-out;

      &:hover {
        opacity: .5;
      }
    }
  }