
//All Cookie Application Styling 
#cookie-app {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 30;
    opacity: 0;
    visibility: hidden;

    background: rgba(0,0,0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .2s ease-in-out; // Fade in Transition

    //Cookie Container Styles
    .cookie-container {
        // position: relative;
        background: white;
        // margin: auto;
        // padding: 20px;
        width: 600px;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 5px 15px rgb(0,0,0,0.5);
    }
}

// Modal Header Styles
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    h3 {
        padding: 20px 20px 15px;
        // text-transform: uppercase;
        font-weight: 300;
        font-size: 1.625rem;
        margin: 0;
        margin-top: -5px;
        color: #333645;
    }

}
// Modal Body Styles
.modal-body {
    padding: 3px 22px;
    margin: 0px 1px;
    p {
        font-size: 1rem;
        line-height: 1.875rem;
        letter-spacing: .3px;
        color: #666;
    }
    p:nth-child(1) {
        margin-bottom: 25px;
    }
}
// Cookie Modal Footer
.modal-footer {
    padding: 15px 20px 20px;
    border-top: 1px solid #e5e5e5;
    height: 100%;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
}


// Cookies Setttings Styles -------------------------

.cookie-settings {
    visibility: hidden;  // Don't display the settings

    width: 100%;
    height: 100%;
    overflow-y: auto;

    position: absolute;
    left: 0;
    top: 0;
    
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.settings-container {
    width: 1170px;
    margin-bottom: 10px;
    color: #333645;

    // Text Styling ------------------------
    h1, h3, h5 {
        font-weight: 400;
        margin: 0;
        letter-spacing: .3px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.25rem;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    h3 {
        font-size: 1.625rem;
        margin-bottom: 9px;
        margin-top: 300px;      // Moves Settings into screen
    }

    h5, ul li {
        font-size: 0.875rem;
        letter-spacing: .4px;
        line-height: 1.1;
        color: #666;
    }
    h4 {
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 3px;
        line-height: 13px;
        letter-spacing: .4px;
    }

    ul {
        margin-top: 17px;
        margin-bottom: 0px;
        margin-left: 10px;
        li {
            margin-left: -10px;
            line-height: 1.2rem;
            font-size: .9rem;

            span {
                font-size: 1rem;
            }

            a, a:link, a:visited {
                font-size: 1rem;
                color: #333645;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


}

.settings-buttons {
    width: auto; 
    margin-top: 10px;
    margin-bottom: 40px;
    height: 38px;
}


//Cookies Button Styling ---------------------------

    // Shared Cookie Modal Button Styles
    .cookies-accept-btn, .cookies-settings-btn, .toggle-btn, .table-btn {
        padding: 9px;
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.063rem;
        letter-spacing: .3px;
        cursor: pointer;
        outline: none;
    }

    // Accept Button Styling
    .cookies-accept-btn, .accept {
        background: #926fb1;
        margin-left: 12.5px; 
        border: solid 1px #7e57a0;

        &:hover {
            background-color: #7e57a0;
            border-color: #735093;
        }
    }

    // Cookie Settings Button Styling
    .cookies-settings-btn, .toggle-btn {
        background: #999aa2;
        border: solid 1px #84858f;
        margin-right: 12.5px; 

        &:hover {
            background-color: #84858f;
            border-color: #797a85;
        }
    }

    .toggle-btn {
        padding: 10px 14px;
        width: auto;
        float: right;
        margin: 0px 2.5px;
    }

    .table-btn {
        float: left;
        width: auto;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .toggle-btn {
        background-color: white;
        color: #AAA;
        border-color: #eee;

        &:hover {
            background-color: inherit;
            border-color: #eee;
        }
    }

    .accept, .cancel {
        width: auto;
        float: right;
        margin: 2px 2px 17.5px;
        padding: 9px 15px;
    }
    

    .active-setting {
        background-color: #926fb1 !important;
        color: white !important;
    
        &:hover {
            background-color: #7e57a0 !important;
            border-color: #735093 !important;
        }
    }
