
header {
  padding-top: 22px;     // Because I couldn't center HEADER content for some reason
}

header .container {

    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-align: center;
    align-items: center;

    @media (max-width: $media-s) {      // SMALL BREAKPOINT CHANGE

      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      -ms-flex-pack: right;
      justify-content: right;

      -ms-flex-line-pack: space-around;
      align-content:space-around;
      padding: 0px 5px;
   }

     img {
         padding-right: 85px;
         height: 65px;
         width: auto;

          @media (max-width: $media-m) {
            padding-right: 45px;
            height: 60px;
        }

        @media (max-width: $media-s) {
          height: auto; 
          max-width: 457px;
          width: calc(100% - 120px);
          margin-right: auto;
          padding-left: 10px;
      }

     }
}


//--------------------------------------------------------------------------------------------------
//-----------------------------   HEADER BUTTONS MIXIN   -------------------------------------------

//    SUPPORT BUTTON

.btn-support {
  @include btn-default(135px, 56px);

  padding: 5px 15px; 
  margin: 0px 10px;
  
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;

  text-align: center;

  border: none;
  border-radius: 3px;
}


//    CONTACT BUTTON

.btn-contact {
  @include btn-default(145px, 56px, $dark-grey);

  padding: 5px 15px; 
  margin: 0px 10px;
  
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;

  text-align: center;

  border: none;
  border-radius: 3px;

  i {
    font-size: 1.3rem;
  }
}


//    SEARCH FIELD TEXT & BUTTON 

#search-box {
  display: -ms-flexbox;
  display: flex;
  width: 303px;
  height: 56px;
  margin: 0px 10px;

  overflow: hidden;

  border: solid 1px $grey;
  border-radius: 3px;

    .search-field {
        width: 240px;
        height: 56px;
        margin: 0px;
        border: none;

        font-size: .85rem;
        padding: 5px 5px 5px 15px;

        @media (max-width: $media-m) {      // MEDIUM BREAKPOINT CHANGE 
          width: 180px;
       }
       @media (max-width: $media-s) {      // MEDIUM BREAKPOINT CHANGE 
        width: 100%;
        background: transparent;
        padding-bottom: 16px;
        color: rgba(0, 0, 0, .6);
     }
    }

    .search-btn {
        @include btn-default(63px, 56px, $dark-grey, row);

        border-radius: 0px;
        color: white;

        i {
        font-size: 2.3rem;

        @media (max-width: $media-s) {      //-------------- SMALL BREAKPOINT CHANGE
          margin-top: -12px;
          font-size: 1.8rem;
        }

        
    }

    @media (max-width: $media-s) {    //-------------- SMALL BREAKPOINT CHANGE
      @include btn-default(63px, 56px, transparent, row);
      color: $primary-colour;
      right: 7.5px;
      position: absolute;
   }
  }

    @media (max-width: $media-l) {     // LARGE SCREEN SIZE
     width: 62px;
  }

  @media (max-width: $media-m) {      // MEDIUM SCREEN SIZE
    width: 243px;
 }

 @media (max-width: $media-s) {      //-------------- SMALL BREAKPOINT CHANGE

  -ms-flex-order: 5;
  order: 5;        
    
    -ms-flex: 1 0 100%;
    flex-basis: 100%;   
    
    border: solid 2px rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
    height: 47px;
    margin-top: 10px;
    border-radius: 2px;
}

}


//---------   HAMBURGER MENU BUTTON MIXIN

#menu-btn {
    @include btn-default(63px, 56px, $primary-colour, column);

    padding: 5px 15px; 
    margin: 0px 10px;

    
    color: white;
    text-align: center;

    i {
        margin-top: 7px;
        margin-bottom: -18px;
        font-size: 2.5rem;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-top: -6px;
        }                                            //IE specific media query
    }
}


//--------------------------------------------------------------------------------------------------

.phone-btn {
  @include btn-theme(20px, 20px);
  color: $primary-colour;
  margin-right: 16px;
  cursor: pointer;

  &:hover {                            // HOVER STYLE
    text-decoration: underline;       
  }

  i {
    font-size: 2rem;
  }

  @media (min-width: $media-s) {      // MAKES THE BUTTON DISAPPEAR IF NOT SMALL BREAKPOINT
    display: none;
  }
}