


.main-nav {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px $dark-grey;
    
    .container {
        height: 100px;
        width: 1170px;
        padding: 0px 0px 30px 0px;

        display: flex;
        flex-direction: row;

        color: white;
        text-decoration: none;
        align-items: center;

        border-right: 1px solid rgba(0,0,0,.25);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 0px;
  
        .main-li {
            height: 99px;
            width: 220px;
            padding: 20px 5px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            text-align: center;
            text-transform: uppercase;

            border-right: 1px solid rgba(255, 255, 255, 0.1);
            border-left: 1px solid rgba(0,0,0,.25);

            margin-top: 30px;
            line-height: 16px;
            letter-spacing: .5px;

            .s-type {
                padding-top: 6px;
                margin-bottom: -1px;
            }

            i {
                font-size: 1.5rem;
            }

            &:hover {
                i {
                color: white;
                }
            }

        }

    }
}


.wd {    @include nav-theme($wd-dt-theme);   }

.it {    @include nav-theme($it-theme);  }

.ts {    @include nav-theme($ts-theme);  }

.bs {    @include nav-theme($bs-theme);  }

.dm {    @include nav-theme($dm-theme);  }

.cs {    @include nav-theme($cs-theme);  }

//---------------------------------------------------------

// THIS IS THE NAVIGATION DROP DOWN MENU -- HOVER SELECTORS 

.wd:hover .nav-drop.wd-drop { visibility: visible; }
.it:hover .nav-drop.it-drop  { visibility: visible; }
.ts:hover .nav-drop.ts-drop { visibility: visible; }
.bs:hover .nav-drop.bs-drop { visibility: visible; }
.dm:hover .nav-drop.dm-drop { visibility: visible; }
.cs:hover .nav-drop.cs-drop { visibility: visible; }


//---------------------------------------------------------

// THIS IS THE NAVIGATION DROP DOWN MENU

.nav-drop.wd-drop {   @include nav-drop-item($wd-dt-theme, -262px, 72px, 1200px, 30px);   }

.nav-drop.it-drop {   @include nav-drop-item($it-theme, -456px, 72px, 1150px, 35px);      }

.nav-drop.ts-drop {   @include nav-drop-item($ts-theme, -651px, 72px, 1200px, 27px);      }

.nav-drop.bs-drop {   @include nav-drop-item($bs-theme, -846px, 72px, 1200px, 25px);      }

.nav-drop.dm-drop {   @include nav-drop-item($dm-theme, -1040px, 72px, 1100px, 35px);      }

.nav-drop.cs-drop {   @include nav-drop-item($cs-theme, -1235px, 72px, 1200px, 27px); }