


.main-nav {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    justify-content: center;

    border-bottom: solid 1px $dark-grey;
    
    .container {
        height: 100px;
        width: 100%;
        padding: 0px 0px 30px 0px;

        display: -ms-flexbox;
        display: flex;

        -ms-flex-direction: row;
        flex-direction: row;

        -ms-flex-pack: center;
        justify-content: center;

        color: white;
        text-decoration: none;

        -ms-flex-align: center;
        align-items: center;

        border-right: 1px solid rgba(0,0,0,.25);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 0px;
  
        .main-li {
            height: 99px;
            width: 195px;               //Used to be 220px before feedback
            padding: 20px 5px;

            display: -ms-flexbox;
            display: flex;

            -ms-flex-direction: column;
            flex-direction: column;

            -ms-flex-pack: distribute;
            justify-content: space-around;

            text-align: center;
            text-transform: uppercase;

            border-right: 1px solid rgba(255, 255, 255, 0.1);
            border-left: 1px solid rgba(0,0,0,.25);

            margin-top: 30px;
            line-height: 16px;
            letter-spacing: .5px;

            @media (max-width: $media-l) {          // LARGE BREAKPOINT MEDIA QUERY
                width: 154px;
            }

            .s-type {
                padding-top: 6px;
                margin-bottom: -1px;
            }

            i {
                font-size: 1.5rem;
            }

            &:hover {
                i {
                color: white;
                }
            }

        }

    }
}


.wd {    @include nav-theme($wd-dt-theme);   }

.it {    @include nav-theme($it-theme);  }

.ts {    @include nav-theme($ts-theme);  }

.bs {    @include nav-theme($bs-theme);  }

.dm {    @include nav-theme($dm-theme);  }

.cs {    @include nav-theme($cs-theme);  }

//---------------------------------------------------------

// THIS IS THE NAVIGATION DROP DOWN MENU -- HOVER SELECTORS 

.wd:hover .nav-drop.wd-drop { visibility: visible; }
.it:hover .nav-drop.it-drop  { visibility: visible; }
.ts:hover .nav-drop.ts-drop { visibility: visible; }
.bs:hover .nav-drop.bs-drop { visibility: visible; }
.dm:hover .nav-drop.dm-drop { visibility: visible; }
.cs:hover .nav-drop.cs-drop { visibility: visible; }


//---------------------------------------------------------

// THIS IS THE NAVIGATION DROP DOWN MENU

.nav-drop.wd-drop {   @include nav-drop-item($wd-dt-theme, 1150px, 30px, -55px);   }

.nav-drop.it-drop {   @include nav-drop-item($it-theme, 1170px, 35px, -35px);      }

.nav-drop.ts-drop {   @include nav-drop-item($ts-theme, 1170px, 27px, -40px);      }

.nav-drop.bs-drop {   @include nav-drop-item($bs-theme, 1170px, 25px, -35px);      }

.nav-drop.dm-drop {   @include nav-drop-item($dm-theme, 1100px, 35px, -110px);      }

.nav-drop.cs-drop {   @include nav-drop-item($cs-theme, 1170px, 27px, -35px); }



@media (max-width: $media-l) {          // LARGE BREAKPOINT CHANGES

    .nav-drop.wd-drop {   @include nav-drop-item($wd-dt-theme, 940px, 20px, -25px);   }

    .nav-drop.it-drop {   @include nav-drop-item($it-theme, 940px, 30px, -25px);      }

    .nav-drop.ts-drop {   @include nav-drop-item($ts-theme, 940px, 20px, -25px);      }

    .nav-drop.bs-drop {   @include nav-drop-item($bs-theme, 940px, 15px, -25px);      }

    .nav-drop.dm-drop {   @include nav-drop-item($dm-theme, 820px, 18px, -145px);      }

    .nav-drop.cs-drop {   @include nav-drop-item($cs-theme, 940px, 20px, -25px); }
}