.services-list {
    display: flex; 
    justify-content: center;

    .container {
        width: 1185px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0px;
        filter: drop-shadow(0px 10px 20px #e6e6e6) ;

        .btn-theme {
            @include btn-theme();
        }

        .s-card.s-bs {
            @include card-s($width: 375px);
            @include s-theme($bs-theme);
        }

        .s-card.s-it {
            @include card-s($width: 375px);
            @include s-theme($it-theme);
        }

        .s-card.s-dm {
            @include card-s($width: 375px);
            @include s-theme($dm-theme);
        }


        .s-card.s-ts {
            @include card-s();
            @include s-theme($ts-theme);
        }

        .s-card.s-wd {
            @include card-s();
            @include s-theme($wd-dt-theme);
        }

        .s-card.s-cs {
            @include card-s();
            @include s-theme($cs-theme);
        }

        .s-card.s-dt {
            @include card-s();
            @include s-theme($wd-dt-theme);
        }

    }
}