
.slidingNav {
    position: fixed;
    top: -210px;
    z-index: 50;
    height: 210px;
    width: 100%;
    transition: .5s ease-in-out;
    transform: translateY(210px);

    header, .main-nav {
        position: relative; 
        top: 0px;

        .nav-drop {
            transform: translateY(-110px);
        }
    }
}